* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}



html{
  scroll-behavior: smooth;
  font-size: 62.5%;
  overflow-x: hidden;
}

body{
 background-color: white;
 font-family: "Poppins", sans-serif;
}
*::selection {
  background:black;
  color:black;
}


html {
  font-size: 62.5%;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background: rgb(148, 8, 8);
}
html::-webkit-scrollbar-thumb {
  background: #420177;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.8rem 5%;
  height: 6.5rem;
  background-color:white;
  box-shadow: 0 1px 8px rgba(116, 142, 168, 0.3);
}
section {
  min-height: 100vh;
  padding: 2rem 9%;
}

header img {
  width: 170px;
  height: 100px;
}


header .navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navbar li {
  margin-left: 2.5rem;
}
header .navbar ul li a {
  font-size: 1.57rem;
  color:black;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.04rem;
  transition: 0.2s;
}
header .navbar ul li a.active,
header .navbar ul li a:hover {
  color: rgb(148, 8, 8);
  border-bottom: 0.2rem solid gray;
  padding: 0.5rem 0;
}

#menu {
  font-size: 3rem;
  cursor: pointer;
  color: rgb(24, 2, 63);
  display: none;
}
@media (max-width: 768px) {
  .logo{
    width: 80px;
  }
  #menu {
    display: block;
  }
 
  #menu .navbar ul {
    position: fixed;
    top: 80px;
    left: 100%;
    width: 100%;
    height: 80vh;
    background: black;
    flex-direction: column;
    transition: 0.5s ease-in;
    flex-flow:column;
    padding: 5px;
  }
  #menu  .navbar ul li {
    text-align: center;
    width: 100%;
    margin: 1rem 0;
    border-radius: 0.5rem;
    width: 20rem;
  }
  #menu  .navbar ul li a {
    display: block;
    padding: 1rem;
    text-align: left;
    color: #c33838;
    font-size: 1rem;
  }
  #menu  .navbar ul li a.active,
  #menu .navbar ul li a:hover {
    padding: 1rem;
    color: #fff;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid #ff01dd;
  }

  #menu-icon{
    display: block;

  }
  .fas {
    transform: rotate(180deg);
  }

}

@media (max-width: 768px) {
  .logo{
    width: 100px;
  }
  #menu {
    display: block;
  }
  header .navbar {
    position: fixed;
    top: 6.5rem;
    right: -120%;
    width: 75%;
    height: 100%;
    text-align: left;
    align-items: flex-start;
    background-color: #3f429c;
  }
  header .navbar ul {
    flex-flow: column;
    padding: 1rem;
  }
  header .navbar ul li {
    text-align: center;
    width: 100%;
    margin: 1rem 0;
    border-radius: 0.5rem;
    width: 26rem;
  }
  header .navbar ul li a {
    display: block;
    padding: 1rem;
    text-align: left;
    color: #fff;
    font-size: 2rem;
  }
  header .navbar ul li a.active,
  header .navbar ul li a:hover {
    padding: 1rem;
    color: #fff;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid #ff01dd;
  }
  .fa-times {
    transform: rotate(180deg);
  }
  header .navbar.nav-toggle {
    right: 0;
  }
}

#shkrim{
    
    background-image: linear-gradient(white,pink);
    height: 600px;
    padding: 10px;
    font-weight: 800;
    
}

#shkrim h1{
  text-align:center;
  font-size: 45px;
  padding: 150px;
  animation: zoom 4s linear forwards;


}
@keyframes zoom{
 from{ opacity: 0;
    transform: scale(.975);
}

to{
    opacity: 1;
    transform: scale(1);
}
}

#shkrim p{
  color: rgb(158, 15, 113);
  text-align: center;
  font-size: 25px;
  position: relative;
  bottom:130px;
  animation: shfaq 4s linear forwards;
  
}
@keyframes shfaq{

    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@media (max-width: 450px) {
  #shkrim  {
    margin: 5rem 0;
  }
 
  #shkrim  p {
    font-size: 2.2rem;
  }
  
  #shkrim h1{
    margin-top:-20rem;
  }
  
}
#about{
  background-color: #f3ceb0;
  
}
#about img{
  width: 450px;
  height: 450px;
  border-radius: 0% 30% 0%;
  margin-left: 20px;
  box-shadow: 0 5px 10px rgba(191, 88, 88, 0.6);
  mix-blend-mode:multiply;
  transition: 0.3s;
  cursor: pointer;
  height: auto;
  border-radius: 5%;
}

#about img:hover{
  mix-blend-mode:normal;
}


#about p{
  font-size: 25px;
  text-align: left;
  position: relative;
  bottom: 350px;
  left: 600px;
   }


#about button{
    border-radius: 0% 30% 0%;
    border-color:black;
  background-color: rgb(248, 147, 108);
  width: 200px;
  height: 100px;
  position: absolute;
   right: 500px;
   top: 1100px;
  font-size: 20px;
  
   }

#about button:hover{
    background-color: rgb(243, 56, 87);
    border-radius: 30% 0% 30%;
    box-shadow: 0 0 5px rgb(216, 142, 142),
    0 0 25px rgb(215, 139, 139),0 0 50px rgb(215, 135, 135), 0 0 100px rgb(218, 165, 165) ,0 0 200px rgb(211, 153, 153);
   }


#about button a{
    text-decoration: none;
    color: black;
   }


   @media (max-width: 450px) {
    #about {
    
      padding: 0.5rem;
      margin-bottom: 7rem;
    }
   
    #about img {
      margin: 0 auto;
      width: 80%;
      mix-blend-mode: normal;
      margin-top: 2rem;

  
    }
    #about  p {
      font-size: 2.2rem;
    }
    
    #about button a{
      margin-top:-20rem;
     
    }
    
  }

#skills{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   padding: 100px;
    
   }

 #skills img{
    width: 350px;
    height: 350px;
    animation: float 6s ease-out infinite;
}
@keyframes float{
  0%{
    transform: translateY(0px);
    box-shadow: 0 0 25px rgb(135, 197, 197);
  }
  50%{
    transform: translateY(-60px);
  }
  100%{
    transform: translateY(0px);
  }
}
   






 .skills-bar {
      padding: 20px 20px;
      }
     
 .skills-bar .bar {
        margin: 30px 0;
      }
     
 .skills-bar .bar .info span {
        font-size: 1.1rem;
        font-weight: 700;
      }
 .skills-bar .bar .info {
        margin-bottom: 10px;
        color: #0a0a09;
      }
 .skills-bar .bar .progress-line {
        position: relative;
        height: 10px;
        width: 650px;
        background:rgb(221, 187, 187);
        border-radius: 10px;
        transform: scaleX(0);
        transform-origin: left;
        animation: animate 1s cubic-bezier(1, 0, 0.6, 1) forwards;
      }
 .bar .progress-line span {
        position: absolute;
        background: #7bc6ef;
        height: 100%;
        border-radius: 20px;
        transform: scaleX(0);
        transform-origin: left;
        animation: animate 1s 1s cubic-bezier(1, 0, 0.7, 1) forwards;
      }
  @keyframes animate {
        100% {
          transform: scaleX(1);
        }
      }
      .progress-line .html {
        width: 80%;
      }
      .progress-line .css {
        width: 80%;
      }
      
      .progress-line .javascript {
        width: 50%;
      }
      .progress-line .wordpress {
        width: 50%;
      }
 .bar .progress-line span::before {
        position: absolute;
        content: "";
        height: 0;
        right: 0;
        top: -12px;
        width: 0;
        border: 7px solid transparent;
        border-bottom-width: 0px;
        border-right-width: 0px;
        border-top-style:  #f0f0f0;
        border-top-color: #f0f0f0;
      }
 .bar .progress-line span::after {
        position: absolute;
        right: 0;
        top: -28px;
        color: #182d35;
        font-size: 13px;
        font-weight: 700;
        background:white;
        padding: 1px 8px;
        border-radius: 3px;
      }
      .progress-line .html::after {
        content: "80%";
      }
      .progress-line .css::after {
        content: "80%";
      }
      
      .progress-line .javascript::after {
        content: "50%";
      }
      .progress-line .wordpress::after {
        content: "50%";
      }
        
#education{
 display:flex;
 flex-direction: row;
  background-color: #edf6f9;
  justify-content: center;
  align-items: center;

}

#education div{
  
  margin: 35px;
}

.ed img{
  padding: 25px;
  height: 350px;
  width: 350px;
  border-radius: 20%;
  box-shadow: 1px 4px 4px #d72f9f;
 

 
}

.ed img:hover{
  box-shadow: 4px  5px 8px #24099e;
  transform: scale(1.1);
  
}
.ed h3{

   margin: 2rem;
  font-weight: 600;
  text-align: left;
  margin-left: 1rem;
}

.ed p{
  font-size: 20px;
  margin-left: 1rem;
  text-align: left;
}
.ed h4{
  font-size: 15px;
  color: rgb(34, 109, 0);
  text-align: left;
  margin: 2rem;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}

      #connect-social.social {
        color: #161716;
        font-size:15px;
      }
      #connect-social a {
        text-decoration: none;
        color: #181a1a;
        padding: 2px;
        font-size: 20px;
        transition: 0.3s ease-in-out;
      }
    

      #connect-social p{
        text-align: center;
        font-size: 16px;
        color: rgb(123, 19, 68);
      }



footer{
  background-color: #f7cbdc;
  padding: 2px;
  text-align: center;
  height: 110px;

  
}

.lol {
  opacity: 0.7;
  padding: 2px;
  }

  .lol:hover{
    color: black;
    opacity: 1;
  }

.lo-linkedin{
  background: #093e67;
  color: white;
}
.lo-twitter{
  background: #55ACEE;
  color: white;
}

.fa-codepen{
  background: #3B5998;
  color: white;
}

@media  (max-width: 600px) {
  
 
}